PORT=3000
NODE_ENV=development
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=cafedellagnolo@gmail.com
SMTP_PASS=senha_de_app_do_gmail
MAIL_FROM=cafedellagnolo@gmail.com
ORDER_EMAIL_TO=cafedellagnolo@gmail.com
